*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root{
    width: 700px;
    background-color: azure;
}

nav {
    background-color:  rgb(255, 102, 0);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(255, 102, 0);
}

main img{
    width: 250px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:0 0 30px gray ;
    float: right;

}

p{
    padding: 0px;
}

main{
    width: 700px;
}

aside{
    width: 700px;
    margin: 10px;
    border: 1px;
    padding: 2px;
    background-color: beige;
    color: rgb(255, 102, 0);


}

aside img{
    width: 300px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}

footer{
   margin-top: 15px;
   border-top: 1px solid #000;
   text-align: center;
    
}

/*Class Selectors*/


.box{
   margin: 1rem;
   border: 1px solid rgb(0 0 0 / 10%);
   padding: 1rem;
   background-color: rgb(255, 102, 0); 
   color: #000;

}

aside {
    width: 20em;
    text-align: center;
}
